
#editor {
-moz-box-shadow:1px 1px 0 #E7E7E7;
-moz-box-sizing:border-box;
border-color:#CCCCCC #999999 #999999 #CCCCCC;
border-style:solid;
border-width:1px;
font-family:arial,sans-serif;
font-size:13px;
height:90px;
margin:10px auto;
outline-color:-moz-use-text-color;
outline-style:none;
outline-width:medium;
padding:2px;
width:560px;
}
/* Top
---------------------------------------------------------------------*/
a#totop {background:#ccc;bottom:2px;display:block;font-size:11px;opacity:0.9;-khtml-opacity: .9;-moz-opacity: 0.9;padding:3px 6px;position:fixed;right:2px;color:#666;text-decoration:none;cursor:pointer;}
a#totop:hover, a#totop:focus, a#totop:active{color:#333;text-decoration:none;}